// 1. Import Bootstrap functions and variables first
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// 2. Apply the specific blue-300 variable to your custom class
.custom-navbar {
  background-color: $blue-300;
}

// 3. Import the rest of Bootstrap
@import "bootstrap/scss/bootstrap";