@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.carousel-item {
  height: 60vh; /* responsive height */
}

.carousel-img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* perfect image fitting */
}

.desert-section {
    font-family: Roboto;
    max-width: 800px;
    margin: 40px auto;
    padding: 30px 40px;
    border-radius: 16px;
    background: #fff8eb;
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
}

.desert-section h3 {
    font-size: 24px;
    position: relative;
    letter-spacing: 1px;
    font-weight: 500;
    color: #b86b2d;
}

.desert-section h3::after {
  content: "";
  width: 260px;
  height: 4px;
  background: #e09f3e;
  display: block;
  margin-top: 8px;
  border-radius: 2px;
}

.desert-section p {
    font-size: 16px;
    color: #1a1a1a;
    margin-top: 20px;
    line-height: 1.6;
}